<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Management</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  {{!-- <div class="flex-column justify-space-around"> --}}
<section class="hero is-link">
  <div class="hero-body">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="icon"></span>
        <a href="/" class="title">Course Management</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        {{!-- <a href="/courses">courses</a> | --}}
        <a href="/">Home</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
  </div>
</section>

    <main>

<section class="hero is-warning is-fullheight">
  <div class="hero-body">
<div class="tile is-ancestor">
  <div class="tile is-3 is-vertical is-parent ">
    <div class="tile is-child box notification is-success">
      <article>
        <p><a href="/students" class="button is-warning">Manage Students</a></p>
        <hr>
        <p><a href="/courses" class="button is-warning">Manage Courses</a></p>
        <hr>
        <p><a href="/groups" class="button is-warning">Manage Groups</a></p>

      </article>
    </div>
  </div>
  <div class="tile is-parent is-9 is-vertical">
    <div class="tile is-child box notification is-success">
      <!-- Render the sub layout -->
      <h2 class="title button is-info"> Welcome To Course Management</h2>
      <article>
          {{{ body }}}
      </article>
    </div>
  </div>
</div>


</div>
</section>
    </main>
<footer>
<section class="hero is-link">
  <div class="hero-body">
    <p>&copy 2024 T.I.B Student Management software inc</p>
  </div>
</div>

</footer>
  {{!-- </div> --}}

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="js/logout.js"></script>
  {{/if}}
</body>

</html>
