<div class="row mb-4 project">
    <div class="col-md-7">
        <p><strong>Course Title:</strong><br> {{course.classname}}</p>
        <p><strong>Course Description:</strong><br> {{course.description}}</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3 class="subtitle is-info has-text-link">Modify Course:</h3>

        <form class="form update-course-form">
            <div class="form-group">
                <input type="hidden" id="user_id" name="user_id" value={{user_id}}>
            </div>
            <div class="form-group">
                <label for="project-name">Course name:</label>
                <input class="form-input" type="text" id="project-name" name="project-name" data-id="{{course.id}}"/>
            </div>
            <div class="form-group">
                <label for="project-desc">Description:</label>
                <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
            </div>
            <div class="form-group">
                <a href="/courses" class="btn  m-2 button_">Cancel</a>
                <button type="submit" class="btn m-2 button_ ">Save</button>
            </div>
        </form>
    </div>
    <script src="/js/updatecourse.js"></script>