<!-- Loop over each object in the projects array -->
{{!-- {{#each courses as |course| }}
<div class="row mb-4 project">
  <div class="col-md-12">
    <h2>
      <a href="/project/{{course.id}}"></a>
    </h2>

  </div>
  <div class="col-md-7">
    <p>Course Name: <br>{{course.classname}}</p>
    <p>
      Course Description: <br>{{course.description}}
    </p>
  </div>
</div>
{{/each}} --}}
