<div class="row mb-4 project">
  <div class="col-md-12">
    <h2>
      <a href="/project/{{student.id}}"></a>
    </h2>

  </div>
  <div class="col-md-7">
    <p>First Name: <br>{{firstname.student}}</p>
    <p>Last Name: <br>{{lastname.student}} </p>
    <p>
      Course Description: <br>{{course.description}}
    </p>
  </div>
</div>
